.custom-list {
    list-style-type: none;
    counter-reset: custom-counter;
    padding-left: 0;
    align-items: center;
}

.custom-list li {
    counter-increment: custom-counter;
    margin-bottom: 10px;
}

.custom-list li:before {
    content: counter(custom-counter) ". ";
    font-weight: bold;
}

.custom-btn {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    /* float: right !important; */
}

.navbar-nav {
    list-style-type: none !important; /* Remove bullet point */
}

.main-page-title {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-weight: bold;
    font-size: 80px;
}

img {
    height: auto;
    width: 30%;
}

.footer-img {
    height: 150px;
    width: auto;
}

.footer {
    /* position: fixed;  */
    background: radial-gradient(#f9f7f7, #010101);
    bottom: 0; /* Position at the bottom */
    width: 100%; /* Ensure it spans the entire width */
    height: auto; /* Allow footer to adjust to its content */
}
