/* WorkoutDetails.css */
.container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
}
.container-sm {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-header button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #f8f9fa;
    border: none;
    border-bottom: 1px solid #ced4da;
    color: #333;
    cursor: pointer;
}

.accordion-body {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.form-floating {
    margin-bottom: 10px;
}

textarea.form-control {
    min-height: 100px;
    resize: vertical;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
